body{
    // background: red;

    header{
        background-color: #fff;
        padding: 0;
        position: relative;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        justify-content: space-between;
        
    }
}